<style>
    .navbar {
        background-image: linear-gradient(to bottom right, rgba(89, 45, 114, 0.74), rgb(180, 65, 65));
    }
</style>

<div class="navbar">

    <!-- LEFT SECTION -->
    <div *ngIf="isLogin()">
        <h3 style="display:inline-block;">Hi, {{form.data.firstName}} ({{form.data.roleName}})</h3>
        &nbsp; | &nbsp;
        <a href="User">Add User</a> |
        <a href="userList">User List</a> |
        <a (click)="logout()">Logout</a>
    </div>

    <div *ngIf="!isLogin()">
        <h3 style="display:inline-block;">Hi, Guest</h3>
        &nbsp; | &nbsp;
        <a href="/welcome">Welcome</a> |
        <a href="/login">Login</a>
    </div>

    <!-- RIGHT SIDE IMAGE -->
    <div *ngIf="isLogin()">
        <img src="http://localhost:8080/User/profilePic/{{form.data.id}}" height="60" width="60">
    </div>

</div>

<hr style="border-color:black;">