<div class="container-fluid">
    <h1 align="center" style="margin-bottom: -15; color: navy;">User
        List</h1>


    <H3 align="center">

        <font color="green">{{form.message}}</font>
        <font color="red">{{form.errormessage}}</font>
    </H3>

    <table align="center">
        <tr>
            <th>First Name</th>
            <td><input type="text" [(ngModel)]="form.searchParams.firstName" name="firstName"
                    placeholder="enter first name">
            </td>&nbsp;

            &nbsp; <th>Role</th>
            <td><select name="id" [(ngModel)]="form.searchParams.roleId" style="width: 90%;">
                    <option [ngValue]="" value="undefined">{{'--------Select Role---------' }}</option>
                    <option *ngFor="let obj of form.preload" [value]="obj.key">{{obj.value}}</option>
                </select>
            </td>
            <td>
                <button class="btn btn-dark" (click)="search()">search</button>
            </td>
        </tr>

    </table>

    <br>
    <table border="1" style="width: 100%;">
        <tr align="center" style="background-color: rgb(81, 144, 165);">
            <th width="1%">Select</th>
            <th width="4%">S.No</th>
            <th width="2%">Image</th>
            <th width="10%">FirstName</th>
            <th width="10%">LastName</th>
            <th width="10%">LoginId</th>
            <th width="10%">DOB</th>
            <th width="9%">Role</th>
            <th width="5%">Edit</th>
        </tr>
        <tr *ngFor="let m of form.list; let i = index" style="background-color: rgb(168, 157, 157);">
            <td align="center"><input type="checkbox" (click)="onClickCheckBox(m.id)"></td>
            <td style="text-align: center;">{{(form.pageNo*5)+i+ 1}}</td>
            <td> <img src="http://localhost:8080/User/profilePic/{{m.id}}" height="80px" width="80px"></td>
            <td style="text-align: center;">{{m.firstName}}</td>
            <td style="text-align: center;">{{m.lastName}}</td>
            <td style="text-align: center;">{{m.loginId}}</td>
            <td style="text-align: center;">{{m.dob | date: 'dd-MM-yyyy'}}</td>
            <td style="text-align: center;">{{m.roleName}}</td>
            <td style="text-align: center;"><a (click)="edit('/User/'+m.id)" style="color: blue;">edit</a></td>
        </tr>
    </table>
    <br>
    <table width="100%">
        <tr>

            <td><button class="btn btn-warning" [disabled]="form.pageNo == 0" (click)="previous()">previous</button>
            </td>
            <td> <button class="btn btn-danger" (click)="delete()">Delete</button></td>
            <td align="right"><button class="btn btn-warning" [disabled]="form.list.length < 5"
                    (click)="next()">next</button></td>
        </tr>
    </table>
</div>